= form_with(model: @user) do |form|
	-if @user.errors.any?
		#error_explanation
			%h2
				= pluralize(@user.errors.count, "error")
				prohibited
				this User from being saved:
				%ul
					- @user.errors.full_message.each do |msg|
						%li= msg
	%p
		= form.label :Name
		%br/
		= form.text_field :name
	%p
		= form.label :Email
		%br/
		= form.text_field :email
	%p
		= form.label :Username
		%br/
		= form.text_field :usermane
	%p
		= form.label :Password
		%br/
		= form.text_field :password
	%p
		= form.submit :Signup
