%h1 Log in

= form_with(model: @user) do |form|
	%p
		= form.label :Name
		%br/
		= form.text_field :name
	%p
		= form.label :Email
		%br/
		= form.text_field :email
	%p
		= form.label :Username
		%br/
		= form.text_field :usermane
	%p
		= form.label :Password
		%br/
		= form.text_field :password
	%p
		= form.submit "Log In"


= link_to 'Back', main_app.home_path
