%h2.page-title
	= @category.name
.media-buttons
	%a.icon-grid2.show-grid2.active
	%a.icon-grid3.show-grid3
#media.media.grid2{"data-turbolinks-permanent" => ""}
	- @category.photos.each do |category|
		- photos_by_cat = category
		- if photos_by_cat.present?
			.media-block{style: "background-image: url('#{image_path(photos_by_cat.image.url)}')"}
				= link_to categoryphoto_path(photos_by_cat.category_id,photos_by_cat.id), :class => 'media-block__link' do
					.media-copy.center
						%h3.media-copy__title= photos_by_cat.title
						%p.media-copy__caption= photos_by_cat.caption
						/ =link_to photos_by_cat.caption, showphotos_path(photos_by_cat.id),class: 'center media-body__link'
						/ %h3.media-body__title= photos_by_cat.title

