!!!
%html{:lang => "en-US"}
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:content => "Rails Photo App.", :name => "Description"}/
		%meta{:content => "HTML,Rails,Sass,Turbolinks", :name => "keywords"}/
		%meta{:content => "Neil McGrath", :name => "author"}/
		%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
		-if controller_name == "users" && action_name == "show"
			%meta{content: "reload", name: "turbolinks-visit-control"}/
		%title Photology
		- if content_for?(:head)
			= yield(:head)
		= csrf_meta_tags
		= favicon_link_tag 'photology.ico'
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		%body
		.wrapper
			-if controller_name == "categories" && action_name == "index"
				%header.clear
					= link_to categories_path, "data-turbolinks" => "false", :class => "logo" do
						%i.icon-camera
					%a.hamburger.hamburger--rot
						%span
				%main
					= render "shared/maincontent"
			-else
				%header
					= link_to categories_path, "data-turbolinks" => "false", :class => "logo" do
						%i.icon-camera
					%a.hamburger.hamburger--rot
						%span
				%main.nothome
					= render "shared/maincontent"
		%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-82838385-6"}
		:javascript
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-82838385-6');

