!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
		-if controller_name == "users" && action_name == "show"
			%meta{content: "reload", name: "turbolinks-visit-control"}/
		%title Photology
		- if content_for?(:head)
			= yield(:head)
		= csrf_meta_tags
		= favicon_link_tag 'photology.ico'
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		%body
		.wrapper
			-if controller_name == "categories" && action_name == "index"
				%header.clear
					= link_to categories_path, "data-turbolinks" => "false" do
						%i.icon-camera.logo
			-else
				%header
					= link_to categories_path, "data-turbolinks" => "false" do
						%i.icon-camera.logo
			.search
				= form_with url: photos_path do |form|
					= text_field :title, params[:title]
					= submit_tag 'Search', title: nil , class: 'invisible'
			%a.hamburger.hamburger--rot
				%span

			%nav.menu
				.menu_list.center
					-if signed_in?
						= link_to 'Log Out', logout_path , method: :delete
						= link_to 'Account', main_app.user_path(current_user.id), "data-turbolinks" => "false", :class => current_class?(main_app.user_path(current_user.id))
					-else
						= link_to 'Log In', login_path, :class => current_class?(login_path)
					= link_to 'Categories' , categories_path, "data-turbolinks" => "false", :class => current_class?(categories_path)
					= link_to 'Photos', photos_path, "data-turbolinks" => "false", :class => current_class?(photos_path)
					= link_to 'About', main_app.about_path, "data-turbolinks" => "false", :class => current_class?(about_path)

			=yield
